html {
    font-size: 12px;
    font-family: 'Anonymous Pro', monospace;
    background-color: #23334c;
    color: #84ad80;
}

body {
    margin: 0 auto;
    width: 800px;
}

a {
    color: #84ad80;
}

a:hover {
    color: #823953;
}

header {
    font-size: 60px;
    margin: 0;
    padding: 0.3em 0;
    text-align: center;
}

nav {
    margin-bottom: 5em;
    width: 800px;
    height: 54px;
    background-image: url("/images/logo.png");
    display: table;
}

nav a {
    font-size: 26px;
    padding: 0 1.23em;
    width: 50%;
    height: 100%;
    text-decoration: none;
    vertical-align: middle;
    display: table-cell;
}

nav #blog {
    text-align: left;
}

nav #things {
    text-align: right;
}

#body {
    font-size: 16px;
    padding: 0.5em 0;
    text-indent: 2em;
    line-height: 1.2em;
    letter-spacing: 0.06em;
    border-width: 2px;
    border-color: #84ad80;
    border-bottom-style: dashed;
    border-top-style: dashed;
    display: block;
}

#title, #footer {
    font-size: 16px;
    margin: 0.25em 0;
    padding: 0 0.25em;
    border-width: 2px;
    display: block;
}

#title {
    border-left-style: dashed;
}

#footer {
    margin-bottom: 3em;
    border-right-style: dashed;
    text-align: right;
}

#login {
    text-align: center;
}

footer {
    margin-top: 10em;
    text-align: center;
}
