<footer>
  <a href="https://github.com/f1sty">github</a>
  <a href="https://gitlab.com/f1st">gitlab</a>
  <a href="https://bitbucket.org/f1st/">bitbucket</a>
  <a href="https://twitter.com/f1sty">twitter</a>
  <a href="https://www.instagram.com/f1sty/">instagram</a>
  <br><br><br>
  Copyright © 2019 Yurii Skrynnykov
</footer>
