<header><%= @title %></header>
<nav id="logo">
  <%= link "BLOG", to: Routes.page_path(@conn, :index), id: "blog" %>
  <%= link "THINGS", to: Routes.admin_post_path(@conn, :index), id: "things" %>
</nav>
